{% extends "auctions/layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Create Listing{% endblock %}</title>
</head>
<body>
    {% block body %}
        <br>
        <a href="/"><button class="btn btn-dark">Go back</button></a>
        <center><h1>Create Listing</h1></center>
        <div class="row">
            <div class="col"></div>
            <div class="col-7">
                <form method="POST" action="{% url 'create_listing' %}">
                    {% csrf_token %}
                    <label for="item">Item</label>
                    <input type="text" class="form-control" name="item" id="item"/>
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" id="description"></textarea>
                    <label for="image_url">Image Link</label>
                    <input name="image_url" type="url" id="image_url" class="form-control"/>
                    <label for="category">Category</label>
                    <select class="form-select" id="category" name="category" aria-label="Default select example">
                        <option selected>Select a category</option>
                        {% for c in categories %}
                            <option value="{{ c.id }}">{{ c.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="bid">Starting Price</label>
                    <input type="number" placeholder="$" name="bid" id="bid" class="form-control"/>
                    <center><input class="btn btn-dark" type="submit" value="Create listing" style="margin-top: 15px" /></center>
                </form>
            </div>
            <div class="col"></div>
        </div>
    {% endblock %}
</body>
</html>