<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ object.item }}{% endblock %}</title>
</head>
<body>
    {% block body %}
        <form method="POST" action="{% url 'add_to_watchlist' pk=object.pk %}">
            {% csrf_token %}
            {{ watchlist_form.as_p }}
            <input type="submit" value="Add to Watchlist" />
        </form>
        <img src="{{ object.image_url }}" alt="">
        <h2>{{ object.item }}</h2>
        <span class="badge rounded-pill bg-dark">{{ object.category }}</span>
        <p>{{ object.description }}</p>
        <span class="badge bg-light text-dark">{{ object.bid }}</span>
        {% if object.is_closed == False %}
            <h4>Bid for item</h4>
            <form method="POST" action="{% url 'bid' object.pk %}">
                {% csrf_token %}
                <label for="amount" name="amount">amount</label>
                <input class="form-control" type="number" placeholder="$" name="amount" id="amount">
                <button type="submit" class="btn btn-dark">Bid</button>
            </form>
        {% endif %}
    {% endblock %}
</body>
</html>